<?xml version="1.0"?>
<!--
/**
 *
 * Package :- Robots
 * Edition :- community
 * Developed By :- CueBlocks.com
 * 
 */
-->
<config>
    <modules>
        <CueBlocks_Robots>
            <version>1.6.0</version>
        </CueBlocks_Robots>
    </modules> 
    <global>
        <resources>
            <robots_setup>
                <setup>
                    <module>CueBlocks_Robots</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </robots_setup>
            <robots_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </robots_write>
            <robots_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </robots_read>
        </resources>
        <blocks>
            <robots>
                <class>CueBlocks_Robots_Block</class>
            </robots>
        </blocks>
        <helpers>
            <robots>
                <class>CueBlocks_Robots_Helper</class>
            </robots>
        </helpers>
    </global>
    <admin>
        <routers>
            <robots>
                <use>admin</use>
                <args>
                    <module>CueBlocks_Robots</module>
                    <frontName>robots</frontName>
                </args>
            </robots>
        </routers>
    </admin>  
</config>
